#take-turns-point{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.0rem;
    padding: .8rem .5rem;
    display: flex;
    background-color: rgba(255, 255, 255, .5);
    list-style: none;
    border-radius: .6rem;
}
#take-turns-point>li{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 .6rem;
    background-color: rgba(45, 243, 243, .6);
    border-radius: 50%;
    cursor: pointer;
}

#take-turns-point>li:hover{
    background-color: rgba(45, 243, 243, 1);
}
#take-turns-point>li.active{
    background-color: rgb(252, 135, 26);
}