.city-item{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 25%;
    float: left;
    text-align: center;
    padding: 15px 0;
    border-bottom:  1px solid #ccc;
    cursor: pointer;
}
.city-item:not(.view-end){
    border-left: 1px solid #ccc;
}