.boon{
    width: 100%;
    box-sizing: border-box;
    padding: 0 2.0rem;
    background-color: white;
    margin-bottom: 1.0rem;
}   
.boon div{
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 1.0rem 0;
}
.boon div:not(:last-child){
    border-bottom: .1rem solid #ccc;
}