.shop-list-item{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15.2rem;
    
    margin-bottom: 1rem;
}
.shop-list-item .left{
    float: left;
    margin-right: .5rem;
}
.shop-list-item .right{
    float: left;
    margin-left: 1.0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.shop-list-item .left img{
    width: 14.4rem;
    height: 13.6rem;
}
.shop-list-item .right p:nth-of-type(1){
    font-size: 2rem;
}
.shop-list-item .right p:nth-of-type(2){
    font-size: 1.4rem;
    color: #666;
    
}
.shop-list-item .right .type span:nth-of-type(1){
    font-size: 1.2rem;
    border: .2rem solid rgb(254,127,90);
    padding: .2rem;
}
.shop-list-item .right p{
        margin: 0;
        color: black;
        margin-bottom: .3rem;
}
.shop-list-item .right p:nth-of-type(4){
    margin-top: 1.5rem;
}
.cur-price{
    font-size: 2.3rem;
    color: rgb(253,80,85);
}
.pre-price{
    font-size: 1.2rem;
    color: rgb(51, 51, 51);
    text-decoration: line-through;
}
.go-shop{
    width: 5.1rem;
    height: 5.1rem;
    position: absolute;
    bottom:2.5rem;
    right: 0;


}
.go-shop img{
    width: 100%;
    height: 100%;
}
.shop-list-item a{
    display: block;
    width: 100%;
    height: 100%;
}