@import '../../assets/less/common.less';
.recharge{
    width: 100%;
    position: relative;
    height: calc(100% - 45px);
}
.msg1{
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 35px 0;
    margin-top: 30px;
}
.msg1 P{
    font-size: 14px;
}
.recharge .title{
    font-size: 15px;
    color: black;
    font-weight: 700;
}
.msg2{
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(231, 255, 250);
    height: calc(100% - 50px - 175px - 80px);
}
.msg2 img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.enter-recharge{
    position: absolute;
    bottom: 15px;
    left: 0;
    .w-auto();
    padding: 0 10px
}
.enter-recharge p{
    .b-b();
    padding: 15px 0;
    text-align: center;
    background-color: @mainColor;
    border-radius: 35px;
    color: white;
    font-weight: 700;
    font-size: 17px;
}