@import '../../assets/css/mainColor.less';
.address-manage{
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
}
.header{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    
    border-bottom: 0.1rem solid rgb(230, 230, 230);
}
.right{
    float: right;
}
.right a{
   color: rgb(135,184,167);
}
.content{
    width: 100%;
}
.bottom{
    position: fixed;
    bottom: 0;
    left: 0;

}