.submit-order{
    width: 100%;
    background-color: rgb(217,236,230);
    height: 100%;
    box-sizing: border-box;
    padding-top: 3px;
}
.summation{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}