@import '../../../assets/less/common.less';
.not-login-show{
    .w-auto();
    padding: 0 2.0rem;
    // background-color: white;
    height: 8.0rem;
    // text-align: center;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    
}