.show-user-data{
    width: 100%;
    height: 12.0rem;
    background-color: rgb(102,235,190);
    box-sizing: border-box;
    padding: 1.5rem;
    color: white;
}
.show-user-data img{
    width: 2.2rem;
    height: 2.0rem;
    margin-right: .5rem;
}
.user{
    margin-right: 4.5rem;
}
.show-user-data P:first-child{
    margin-bottom: 1.2rem;
}
.show-user-data p span:nth-of-type(2) span{
    margin-right: .5rem;
}
