@mainColor:rgb(7, 104, 76);

.order-list-item{
    padding: .5rem .8rem;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 1.0rem;
    
}
.order-list-item:not(:last-child){
    margin-bottom: 1.0rem;
}
.order-list-item .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.0rem;
}
.order-list-item .bottom{
    display: flex;
    justify-content: space-between;
}
.order-list-item .bottom p{
    vertical-align: bottom;
}
.bottom img{
    width: 4.0rem;
    height: 4.0rem;
}


.left{
    color: @mainColor;
    font-size: 1.3rem;
}
.right{
    color: rgb(249,184,48);
    font-size: 1.3rem;
}
.order-list-item p{
    margin: 0;
}

.bottom img{
    width: 16.5rem;
    height: 16.0rem;
}
.bottom p{
    align-self: flex-end;
    color: @mainColor;
}
.price{
    font-weight: 700;
}