.top{
    width: 100%;
    height: 13.0rem;
    background-color: rgb(99,230,198);
    box-sizing: border-box;
    padding-top: 2.0rem;

}
.left img{
    width: 5.0rem;
    height: 5.0rem;
    border-radius: 50%;
    margin-right: 1.0rem;
}
.msg{
    display: inline-block;
    vertical-align: top;
}
.msg p{
    margin: 0;
}
.msg p:nth-of-type(1){
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}
.msg p:nth-of-type(2) span{
    font-size: 1.1rem;
    padding: .3rem .6rem;
    border-radius: 1.0rem;
    color: white;
    background-color: rgb(38,185,140);
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    width: calc(100% - 4.0rem);
    margin: 0 auto;
}
