.address-list-item{
    width: 100%;
   
    overflow: hidden;
}
.left{
    float: left;
    width: 28.0rem;
}
.name{
    font-size: 1.7rem;
    color: black;
    margin-right: .5rem;
}
.phone{
    font-size: 1.4rem;
    color: rgb(135,184,167);
}
.address{
    color: black;
}
.default{
    color: rgb(251,121,35);
    padding: .2rem;
    border-radius: .8rem;
    background-color: rgb(247,205,207);
    margin-right: .5rem;
}
.d_a.active .default{
    display: inline;
}
.right{
    float: right;
   
    line-height: 6.3rem;
    color: rgb(135,184,167);
}
.right span{
    padding:.1rem 1.0rem;
    border-left: .1rem solid rgb(135,184,167);
}