.commodityEvaluation{
    width: 100%;
    padding: 0 2.0rem;
    margin-bottom: 1.0rem;
}
.left{
    float: left;
}
.right{
    float: right;
}
.left span{
    font-size: 1.9rem;
    font-weight: 700;
    color: black;
}
.right a{
    color:black;
    font-size: 1.3rem;
}
.commodityEvaluation header{
    padding: 1.0rem 0;
    overflow: hidden;
    border-bottom: .1rem solid #ccc;
}