@import '../../assets/less/common.less';
.member-code{
    .w-auto(); 
    height: 100%;
    padding: 1.5rem 1rem 0rem 1rem;
    background-color: @mainBg;
}
.content{
    width: 100%;
    height: 100%;
    background-color: white;
    // box-shadow: 0 0 .9rem .0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.8rem;
}

.content .l{
    width: 90%;
    height: 20rem;
    margin-top: 1.5rem;
}
.one{
    color: @mainColor1;
    margin: 0rem 0rem 1rem 0;
}
.code{
    width: 12.2rem;
    height: 11.5rem;
}
.yhk{
    margin: 1.5rem 0 0rem 0;
    font-size: 1.9rem; 
    color: black;
}
.yhk span:not(:last-child){
    margin-right: 1rem;
}
.shua-xin{
    font-size: 1.4rem;
}
.qita { 
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.0rem;
}
.qita span:nth-of-type(2){
    margin: 0 .5rem;
}
.qita .line{
    flex: 1 1;
    background-color: rgb(165,165,165);
    height: .1rem;
    transform: translateY(1.1rem);
}

.dzfs{
    display: flex;
    text-align: center;
    margin-top: 1.5rem;
}

.dzfs img{
    width: 4.0rem;
    height: 2.8rem;
}
.dzfs li p{
    margin: 0 1.5rem;
    font-size: 1.4rem;
}