.name{
    font-size: 1.7rem;
    color: black;
}
.address-list li{
    padding: 1rem 0;
}
.address-list li:not(:last-child){
    border-bottom: 0.1rem solid #ccc;
}
.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
}