.vogue-fruit{
    width: 100%;
    height: 100%;
    /* margin-top: 5px; */
}
.menu{
    width: 110px;
    height: 100%;
    float: left;
}
.shop-list{
    float: left;
    width: calc(100% - 110px);
    height: 100%;
    position: relative;
}
