.bottom{
    width: 100%;
    height: 8.2rem;
    /* overflow: hidden; */
    box-sizing: border-box;
    padding: 0 2.0rem;
    position: relative;
    /* height: 100%; */
    
}
.content{
    width: calc(100% - 4.0rem);
    height: 100%;
    position: absolute;
    top: -3.5rem;
    left:2.0rem;
    box-shadow: .0rem .0rem 1.0rem -.3rem black;
}
.content .top{
    height: 3.5rem;
    line-height: 3.5rem;
    background-color: rgb(231, 231, 231);
    padding: 0 2.0rem;
    box-sizing: border-box;
}
.left{
    width: 20.0rem;
    position: relative;
    float: left;
}
.right{
    float: right;
    font-size: 1.2rem;
   
}
.right a{
    color: rgb(0, 196, 143);
}

.mian{
    width: 100%;
    height: 8.0rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: rgb(0, 196, 143);
    background-color: rgb(136, 136, 136);
}
.number{
    color: white;
    font-weight: 700;
}