@import '../../assets/less/common.less';
.my-red-packet{
    .w-auto();
    padding: 1.5rem 2.0rem 0 2.0rem;
    height: @containerWidth;
}
.red-packet{
    width: 100%;
    margin-bottom: 1.5rem;
}
.red-packet img{
    width: 100%;
    height: 15.0rem;
}