.go-buy{
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-color: white;
    padding: .5rem 2.0rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.left{
    float: left;
    position: relative;
  
}
.left i{
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    padding: 0 .5rem;
    background-color: red;
    font-size: 1.0rem;
    color: white;
    border-radius: 50%;

}
.left img{
    width: 3.0rem;
    height: 3.0rem;
}
.right{
    float: right;
    display: flex;
}
.button{
    width:11.0rem;
    height: 3.5rem;
    border-radius: 1.2rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    line-height: 3.5rem;
}
.go-shop-car{
   color:rgb(100,233,188);
    border: .1rem solid blue;
    margin-right: 2.0rem;
}
.go-shop-buy{
    background-color: rgb(100,233,188);
    color: white;
}