.go-buy{
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-color: white;
    padding: 5px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.left{
    float: left;
    position: relative;
  
}
.left i{
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 0 5px;
    background-color: red;
    font-size: 10px;
    color: white;
    border-radius: 50%;

}
.left img{
    width: 30px;
    height: 30px;
}
.right{
    float: right;
    display: flex;
}
.button{
    width:110px;
    height: 35px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
}
.go-shop-car{
   color:rgb(100,233,188);
    border: 1px solid blue;
    margin-right: 20px;
}
.go-shop-buy{
    background-color: rgb(100,233,188);
    color: white;
}