.header{
    width: 100%;
    height: 6.9rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2.0rem;
    position: relative;
}
.right{
    display: flex;
    align-items: center;
    height: 100%;
    /* width: 20.0rem; */
    
}
.right img{
    margin-right: 1.5rem;
}
.left img{
    width: 7.9rem;
    height:3.0rem;
}
.left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.address{
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    
}
.address h3{
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 1.5rem;
    cursor: pointer;
    margin-bottom: 0;
}
.line{
    width: 100%;
    height: .1rem;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
}

.os{
    margin-left: .5rem;

}
.os span{
    font-size: 1.3rem;
    vertical-align: middle;
    color: rgb(58, 57, 57);
}