@import '../../../assets/less/common.less';
.current-interest{
    width: 100%;
    margin-top: 25px;
}
.current-interest .title{
    font-size: 16px;
    font-weight: 700;
    color: black;
}
.current-interest ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.current-interest ul li{
    display: flex;
    width: 50%;
    margin-bottom: 30px;
}
.current-interest p{
    margin: 0;
}
.current-interest ul .left img{
    width: 35px;
    height: 33px;
    margin-right: 10px;
}
.msg{
    color: @mainColor;
    font-weight: 700;
}
.text{
    font-size: 11px;
    color: #666;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;/*为行数*/
	-webkit-box-orient: vertical;
}