@mainColor: rgb(102,233,193); // 主题色
@mainColor1: rgb(108,182,146);// 主题色1
@mainBg: rgb(239,250,244);
@containerWidth: calc(100% - 45px);
.w-auto{
    width: 100%;
    box-sizing: border-box;
}
.b-b{
    box-sizing: border-box;
}

.apeakCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}