.my-integral{
    width: 100%;
    box-sizing: border-box;
    padding: 0 2.0rem;
    height: calc(100% - 4.5rem);
}
.zong-ji-fen {
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    padding: 0 2.0rem;
}
.zong-ji-fen img{
    width: 100%;
    height: 20.0rem;
}