@import '../../../assets/less/common.less';
.counter{
    width:8.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
}
.counter img{
    width: 2.5rem;
    height: 100%;
}
.input{
    border: none;
    width: 3.0rem;
    text-align: center;
    outline-color: @mainColor;
}