.modal{
    background-color: white;
    width: 35.0rem;
    height: 20.0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
   
    border-radius: 1.0rem;
}
.modal header{
    width: 100%;
    height: 4.0rem;
    border-radius: 1.0rem;
    // border: .1rem solid red;
    text-align: center;
    line-height: 4.0rem;
    font-size: 1.7rem;
    font-weight: 700;
    border-bottom: .1rem solid rgb(252, 234, 144);
}

.modal footer{
    display: flex;
    height: 4.0rem;
    text-align: center;
    border-top: .1rem solid black;
}
.modal footer .left{
    border-right: .1rem solid black;
    color: rgb(0, 17, 12);
}
.modal footer .right{
    color: rgb(0, 12, 4);
}
.modal footer div{
    flex: 1 1;
    height: 100%;
    line-height: 4.0rem;
    font-size: 1.5rem;
    font-weight: 700;

}
.content{
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    text-align: center;
}
.content p{
    display: inline-block;
    text-align: justify;
    margin: auto;
    font-size: 1.6rem;
    color: black;
}