.current-position{
    width: 100%;

}
.current-position p{
    margin: 0;
}
.current-position>p{
    margin: 5px 0;
}
.current-position>p img{
    width: 14px;
    height: 18px;
    margin-right: 5px;
}
.current-position>p span{
    font-size: 14px;
}

.current-position>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left p:first-child{
    color: black;
    font-size: 15px;
    font-weight: 700;
}