.mine{
    width: 100%;
    background-color: rgb(237,250,243);
    height: 100%;
    overflow: auto;
}
.user-data{
    height: 40.0rem;
  width: 100%;  
  border: .1rem solid black;
}
.operate-wrapper{
  width: 100%;
  padding: 0 2.0rem;
  box-sizing: border-box;
  height: calc(100% - 21.2rem - 1.0rem);
  /* margin-bottom: 1.0rem; */
}
.operate-wrapper>div:not(:last-child){
  margin-bottom: 1.0rem;
}