.footer{
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0 2.0rem;
}
.go-shopping{
    width: 11.0rem;
    height: calc(100% - .6rem);
    border-radius: 4.0rem;
    background-color: rgb(99,230,199);
    /* margin-right: 4.0rem; */
    font-size: 1.6rem;
    line-height: 3.9rem;
    text-align: center;
    color: white;
    /* font-weight: 700; */
}
.left{
    margin-right: 1.5rem;
    height: 100%;
    line-height: 4.5rem;
}
.left img{
   
        width: 3.3rem;
        height: 3.3rem;
        margin-right: .5rem;
}
.left span{
    font-size: 1.2rem;
}
.msg{
    height: 100%;
}
.msg .left{
    float: left;
}
.msg .right{
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
  
}
.right p{
    margin: 0;
}
.text{
    font-size: 1.6rem;
    color: black;
}
.price{
    color: rgb(247,77,82);
    font-size: 1.7rem;
    font-weight: 700;
}
.youhui{
    font-size: 1.0rem;
    color: rgb(119, 119, 119);
}
.go-shopping a{
    color: white;
}