.footer{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.go-shopping{
    width: 110px;
    height: calc(100% - 6px);
    border-radius: 40px;
    background-color: rgb(99,230,199);
    /* margin-right: 40px; */
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: white;
    /* font-weight: 700; */
}
.left{
    margin-right: 15px;
    height: 100%;
    line-height: 45px;
}
.left img{
   
        width: 33px;
        height: 33px;
        margin-right: 5px;
}
.left span{
    font-size: 12px;
}
.msg{
    height: 100%;
}
.msg .left{
    float: left;
}
.msg .right{
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
  
}
.right p{
    margin: 0;
}
.text{
    font-size: 16px;
    color: black;
}
.price{
    color: rgb(247,77,82);
    font-size: 17px;
    font-weight: 700;
}
.youhui{
    font-size: 10px;
    color: rgb(119, 119, 119);
}
.go-shopping a{
    color: white;
}