.shop-list-item{
    width: 100%;
    overflow: hidden;
    height: 12.0rem;
    padding: 1.3rem .0rem 2.0rem 0;
    box-sizing: content-box;
    border-bottom: .1rem solid rgb(236, 236, 236);
}
.enter{
    float: left;
    margin:0  1.0rem; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img{
    float: left;
    margin-right: 1.0rem;
    
}
.price-msg{
    float: left;
    width: 8.4rem;

}
.shop-num{
    float: left;
}
.enter img{
    width: 3.3rem;
    height: 3.3rem;
}
.img img{
    width: 14.0rem;
    height: 12.0rem;
}
.shop-list-item .name{
   font-size: 1.6rem;
   color: black;
    margin-bottom: .3rem;
}
.shop-list-item p{
    margin: 0;
}
.shop-list-item .msg{
    font-size: 1.2rem;
    color: rgb(63, 63, 63);
    margin-bottom: 2.0rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.current-price{
    font-size: 1.8rem;
    color:rgb(251,75,86);
    margin-right: .8rem;
}
.money{
    font-size: 1.4rem;
}
/* .money{
    font-size: 1.4rem;
}
.cur-money{
    color: rgb(251,75,86);
    
} */
.prev-price{
    text-decoration: line-through;
}
.shop-num{
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding-bottom: 2.5rem;
   box-sizing: border-box;
   margin-left: 2.0rem;
}