@import '../../../assets/less/common.less';
.enter-pay{
    .w-auto();
    padding: 1.0rem 2.0rem;
    height: 35.0rem;
    background-color: white;
    position: relative;
}

.enter-pay>p{
    text-align: center;
    color: black;
}
.enter-pay>p:nth-of-type(1){

    font-weight: 700;
    font-size: 1.6rem;
}
.enter-pay>p:nth-of-type(2){
    font-size: 1.3rem;
}
.enter-pay>p:nth-of-type(3){
    font-weight: 700;
}
.pay{
    width: calc(100% - 4.0rem);
    padding: 1.0rem;
    background-color: @mainColor;
    text-align: center;
    border-radius: 1.5rem;
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    position: absolute;
    left: 2.0rem;
    bottom: 1.0rem;
}